<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		{% block style %}
			<link rel="stylesheet" href="/assets/css/main.css">
		{% endblock %}
	</head>
	<body>
		<header>
			{% include "parts/navbar.html.twig" %}
			<h1>Apprendre Twig</h1>
		</header>

		{% block main %}
			<p>Contenu principal de la page home</p>
		{% endblock %}

		{% include "parts/footer.html.twig" %}

		{% block script %}
			<script>
				console.log('home')
			</script>
		{% endblock %}
	</body>
</html>
